%h1(align="center") Log in
= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f|
  .form-group
    .col-form-label.col-sm-2
      = f.label :email
    .col-sm-8
      = f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true
  .form-group
    .col-form-label.col-sm-2
      = f.label :password
    .col-sm-8
      = f.password_field :password, class: "form-control", placeholder: "Enter password", autocomplete: "off"
  .form-group
    .center
      = f.submit "Log in", class: "btn btn-submit btn-lg"
  .center
    = link_to "Cancel request and return to articles listing", articles_path