- obj.each do |article|
  .row
    .col-xs-8.col-xs-offset-2
      .well.well-lg
        .article-title
          = link_to article.title, article_path(article)
        .article-body
          = truncate(article.description, length: 100)
          .article-meta-details
            %small
              Created by: 
              = article.user.username if article.user
              = time_ago_in_words(article.created_at)
              ago, last updated: 
              = time_ago_in_words(article.updated_at)
              ago
        - if article.categories.any?
          %p
            Categories: 
            = render article.categories
        - if logged_in? && (current_user == article.user || current_user.admin?)
          .article-actions
            = link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary"
            = link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure you want to permanently delete this article?" }, class: "btn btn-xs btn-danger"