= render 'shared/errors', obj: @article
.row
  .col-xs-12
    = form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f|
      .form-group
        .col-form-label.col-sm-2
          = f.label :title
        .col-sm-8
          = f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true
      .form-group
        .col-form-label.col-sm-2
          = f.label :description
        .col-sm-8
          = f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article"
      .form-group
        .row
          .col-sm-8.col-sm-offset-2
            = f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
              - cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}
      .form-group
        .center
          = f.submit class: "btn btn-submit", id: "submit"
    .center
      = link_to "Cancel request and return to articles listing", articles_path