%h2(align="center") Title: #{@article.title}
.well.col-xs-8.col-xs-offset-2
  %ul.listing
    .row.center
      .col-md-4.col-md-offset-4
        %li.created-by Created by:
        %li= link_to gravatar_for(@article.user), user_path(@article.user)
        %li.article-title= link_to @article.user.username, user_path(@article.user)
        %li
          %small= pluralize(@article.user.articles.count, "article") if @article.user.articles
  %h4.center.description
    %strong Description:
  %hr
  = simple_format(@article.description)
  - if @article.categories.any?
    %p
      Categories: 
      = render @article.categories
  .article-actions
    - if logged_in? && (current_user == @article.user || current_user.admin?)
      = link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary"
      = link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to permanently delete this article?" }, class: "btn btn-xs btn-danger"
    = link_to "View all articles", articles_path, class: "btn btn-xs btn-primary"