= render 'shared/errors', obj: @user
.row
  .col-xs-12
    = form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f|
      .form-group
        .col-form-label.col-sm-2
          = f.label :username
        .col-sm-8
          = f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true
      .form-group
        .col-form-label.col-sm-2
          = f.label :email
        .col-sm-8
          = f.email_field :email, class: "form-control", placeholder: "Enter email"
      .form-group
        .col-form-label.col-sm-2
          = f.label :password
        .col-sm-8
          = f.password_field :password, class: "form-control", placeholder: "Enter password"
      .form-group
        .center
          = f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-submit btn-lg")
    .center
      = link_to "Cancel request and return to articles listing", articles_path