%h1(align="center") All Alpha Bloggers
%div(align="center")= will_paginate
- @users.each do |user|
  %ul.listing
    .row
      .well.col-md-4.col-md-offset-4.center
        %li= link_to gravatar_for(user), user_path(user)
        %li.article-title= link_to user.username, user_path(user)
        %li
          %small= pluralize(user.articles.count, "article") if user.articles
          - if logged_in? and current_user.admin?
            %li= link_to 'Delete this user', user_path(user), method: :delete, data: { confirm: "Are you sure you want to permanently delete this user and all their articles?" }
%div(align="center")= will_paginate