%h1(align="center") Welcome to #{@user.username}'s page
.row
  .col-md-4.col-md-offset-4.center
    = gravatar_for @user, size: 150
%h4(align="center") #{@user.username}'s articles
.center= will_paginate @user_articles
= render 'articles/article', obj: @user_articles
.center= will_paginate @user_articles