.center
  %h1 About Alpha Blog
.center
  .well.about.col-md-8.col-md-offset-2
    %p "Alpha Blog was the very first blog, created sometime in the 8th or 9th century BCE. It was  used by poets such as Homer, Sappho, and Alcaeus; philosophers such as Socrates, Plato, and Aristotle; and dramatists such as Aeschylus, Euripides, and Sophocles. Over the centuries the site was maintained on secret servers located in hidden rooms of monasteries located around the Greek-speaking world."
    .line
    %article * I made this site using Ruby on Rails for the back end, with PostgreSQL for the database. For the front end, I used a bit of Bootstrap and CSS with minimal Sass. I also decided to use Haml for all templates instead of erb.