$navbar-default-bg: #232c3b;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Anton|Signika');

body {
  font-family: 'Signika', sans-serif;
  background-color: #555;
}

.flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.about p {
  font-size: 1.2em;
  padding-top: 1em;
}

article {
  color: rgba(255,255,255,0.8);
  padding-top: 1em;
}

.line {
  width: 20%;
  margin: 0 auto 0;
  border-top: 1px solid rgba(255,255,255,0.8)
}

#logo {
  font-family: 'Anton', sans-serif;
  font-size: 1.7em;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

#logo:hover {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  text-shadow: 0 0 10px #eee;
}

.navbar .navbar-right .dropdown .dropdown-menu li {
  background-color: #232c3b;
}

.navbar .navbar-right .dropdown .dropdown-menu li:hover {
  background-color: #232c3b;
}

.navbar .navbar-right li a {
  font-family: 'Anton', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
  background-color: #232c3b;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.navbar .navbar-right li a:hover {
  color: rgba(255,255,255,1.0);
  background-color: #232c3b;
  text-decoration: none;
  text-shadow: 0 0 10px #eee;
}

li.dropdown.open {
  color: #232c3b;
}

.dropdown-menu {
  background-color: #232c3b;
}

.navbar .navbar-right .dropdown .dropdown-menu li {
  background-color: rgba(255,255,255,0.8);
}

.navbar .navbar-right .dropdown .dropdown-menu li:hover {
  background-color: rgba(255,255,255,0.8);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: rgba(255,255,255,0.8);
  background-color: #232c3b;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s,
              visibility 0s linear 0.3s,
              z-index 0s linear 0.01s
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.center {
  text-align: center;
}

.center a {
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.center a:hover {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  text-shadow: 0 0 10px #eee;
}

.jumbotron {
  background-image: asset-url('background.jpg');
  background-size: cover;
  height: 45em;
}

.jumbotron h1 {
  margin-top: 3em;
  color: rgba(255,255,255,1.0);
  text-shadow: 0 0 10px #000;
}

.jumbotron .btn {
  background-color: transparent;
  border: none;
  font-size: 2em;
  margin-top: 1em;
}

.display-3 a {
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.display-3 a:hover {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  text-shadow: 0 0 10px #eee;
}

h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  font-size: 3em;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
}

h2 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  font-size: 2.5em;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
}

h4 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  font-size: 2em;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
}

.description {
  margin-top: 0;
}

.well {
  background-color: #4b5463;
  border: 3px solid #222;
}

.well small {
  color: rgba(255,255,255,0.8);
}

.article-title a {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.article-title a:hover {
  color: rgba(255,255,255,1.0);
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 0 0 10px #eee;
}

.article-body {
  border-top: 1px solid #222;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(200,200,200,0.8);
  font-size: 1.3em
}

.well p {
  color: rgba(200,200,200,0.8);
}

.article-meta-details {
  color: rgba(200,200,200,0.8);
  border-top: 1px solid #222;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #222;
  padding-top: 5px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  background-color: rgba(255,255,255,0.8);
}

.badge a {
  color: #555;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.badge a:hover {
  color: #000;
}

.btn-primary {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: transparent;
  color: rgba(105,155,255,1.0);
}

.btn-danger {
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn-danger:hover {
  background-color: transparent;
  color: rgba(255,155,155,1.0);
}

.input_checkbox input {
  width: auto !important;
}

.col-form-label {
  color: rgba(255,255,255,0.8);
  text-align: right;
}

.form-control {
  background-color: #ddd;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
    }
  50% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 1.0);
    }
  100% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
    }
  }

@keyframes pulse {
  0% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
    }
  50% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 1.0);
    }
  100% {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
    }
  }

.form-control:focus {
  border: none;
  -webkit-animation: pulse 1.5s infinite ease-in-out;
          animation: pulse 1.5s infinite ease-in-out;
}

.checkbox-inline {
  color: rgba(255,255,255,0.8);
  font-size: 1em;
}

.btn-submit {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  font-size: 1.8em;
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.btn-submit:hover {
  background-color: transparent;
  color: rgba(55,155,55,1.0);
}

.pagination .pagination li a {
  background-color: transparent;
  color: rgba(255,255,255,1.0);
  border: none;
}

.pagination .pagination li a:hover {
  background-color: transparent;
  color: rgba(255,255,255,1.0);
  text-shadow: 0 0 10px #eee;
  border: none;
}

.pagination .active a {
  background-color: transparent;
  color: rgba(255,255,255,1.0);
  text-shadow: 0 0 10px #eee;
  border: none;
}

.pagination .active a:hover {
  background-color: transparent;
  color: rgba(255,255,255,1.0);
  text-shadow: 0 0 10px #eee;
  border: none;
}

.edit-category-name {
  margin-bottom: 1em;
}

.footer {
  margin-top: 1em;
  padding-top: 1em;
  background-color: #232c3b;
  display: flex;
  justify-content: space-between;
}

.footer small {
  color: rgba(255,255,255,0.8);
  padding-left: 2em;
}

.footer a {
  font-size: 1em;
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.footer a:hover {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  text-shadow: 0 0 10px #eee;
}

.footer ul {
  list-style: none;
}

.footer li {
  padding-right: 2em;
}

.alert {
  color: #fff;
}

.alert-success {
  background-color: #117711;
  border: none;
}

.alert-danger {
  background-color: #aa1111;
  border: none;
}

.alert button.close {
  color: rgba(255,255,255,1.0);
  opacity: 1;
}

.alert button.close:hover {
  color: rgba(255,255,255,0.8);
}

hr {
  border-top: 1px solid #222;
}

.created-by {
  color: rgba(255,255,255,0.8);
}