= render 'shared/errors', obj: @category
= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f|
  .form-group
    .col-form-label.col-sm-2
      = f.label :name
    .col-sm-8
      = f.text_field :name, class: "form-control", placeholder: "Category name", autofocus: true
  .form-group
    .center
      = f.submit class: "btn btn-submit btn-lg"
.center
  = link_to "Cancel request and return to categories listing", categories_path