%h1(align="center") Listing all categories
.center
  = will_paginate
  - @categories.each do |category|
    %ul.listing
      .row
        .well.col-md-4.col-md-offset-4
          %li.article-title
            = link_to "#{category.name}", category_path(category)
          %li
            %small= pluralize(category.articles.count, "article")
  = will_paginate