%h1(align="center")= "Category: " + @category.name
- if logged_in? && current_user.admin?
  .center
    %span.badge.edit-category-name= link_to "Edit category name", edit_category_path(@category)
%div(align="center")= will_paginate @category_articles
= render 'articles/article', obj: @category_articles
%div(align="center")= will_paginate @category_articles