.row
  .col-xs-10.col-xs-offset-1
    - flash.each do |name, msg|
      .alert{ :class => "alert-#{name}" }
        %button.close{ :data => { :dismiss => "alert" } } x
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)