%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: :button, 'data-toggle' => :collapse, 'data-target' => "#bs-example-navbar-collapse-1" }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Alpha Blog', root_path, class: 'navbar-brand', id: 'logo'

    / Navbar content
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right

        / links
        - if !logged_in?
          %li= link_to 'Articles', articles_path
        - if logged_in?
          %li.dropdown.open
            = link_to '#', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-expanded' => 'true', 'class' => 'dropdown-toggle' do
              Articles
              %span.caret
            %ul.dropdown-menu{ role: :menu }
              %li= link_to 'View all articles', articles_path
              %li= link_to 'Create new article', new_article_path
        %li.nav-menu-item= link_to 'Authors', users_path
        %li.dropdown.open
          = link_to '#', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-expanded' => 'true', 'class' => 'dropdown-toggle' do
            Categories
            %span.caret
          %ul.dropdown-menu{ role: :menu }
            %li= link_to 'All categories', categories_path
            %li.divider
            - Category.all.each do |category|
              %li= link_to "#{category.name}", category_path(category)
            - if logged_in? && current_user.admin?
              %li.divider
              %li= link_to "Create new category", new_category_path
        - if !logged_in?
          %li= link_to 'Log in', login_path 
          %li= link_to 'Sign up', signup_path

        / dropdown
        - if logged_in?
          %li.dropdown.open
            = link_to '#', 'data-toggle' => 'dropdown', 'role' => 'button', 'aria-expanded' => 'true', 'class' => 'dropdown-toggle' do
              Your Profile #{ "(admin)" if current_user.admin? }
              %span.caret
            %ul.dropdown-menu{ role: :menu }
              %li= link_to 'Edit your profile', edit_user_path(current_user)
              %li= link_to 'View your profile', user_path(current_user)
              %li.divider
              %li= link_to 'Log out', logout_path, method: :delete