!!! 5
%html
  %head
    %title= "AlphaBlog"
    %meta= csrf_meta_tags
    %meta= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}

  %body
    .flex
      = render 'layouts/navigation'
      = render 'layouts/messages'
      .container
        = yield
      = render 'layouts/footer'